@model School_Mgt.Models.Teacher
@{
    ViewBag.Title = "Create";
}
<div class="card">
    <div class="card-header">
        <h5>New Teacher</h5>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.TeacherName)
                @Html.TextBoxFor(m => m.TeacherName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TeacherName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.JobTitle)
                @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.JobTitle)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ReportTo)
                @Html.TextBoxFor(m => m.ReportTo, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ReportTo)
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-primary rounded-0">Submit</button>
            </div>
        }
    </div>
</div>

